<div class="b-modal b-flash-modal" id="get-flash">

    <a href="#" class="b-modal__cl-btn" data-izimodal-close><i class="sprite sprite-icon-close"></i></a>

    <div class="b-flash-modal__body">
        <div class="b-content-title b-content-title--center h2">Спасибо за заявку!</div>
        <div class="b-content-title b-content-title--center h4">мы свяжемся с Вами в ближайшее время</div>

        <div class="b-space"></div>
        <div class="b-space b-visible_medium_up"></div>

        <a href="#" class="b-btn b-btn--green b-flash-modal__btn" data-izimodal-close>Вернуться на главную</a>
    </div>

</div>